<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Memory!</title>
    <meta name="description" content="Memory game made on Glitch using Preact and Unsplash's api">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Memory!</h1>
    </header>

    <main id="root"></main>

    <footer id="gWidget"></footer>

    <script src="//widget.gomix.me/widget.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/preact/7.2.0/preact.dev.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
